@use "../abstracts";

header {
    background-color:abstracts.$bg-color ;

    h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 120px;
    color: abstracts.$secondary-color;
    margin-left: 360px;
    padding-top: 2rem;
}

    .nav-bar {
    nav {
        ul {
            list-style: none;
            margin-left: 28rem;
            margin-top: -60px;
            padding-bottom: 2rem;
            display: flex;
            gap: 30px;
        }

        li {
            cursor: pointer;
            color: abstracts.$secondary-color;
            font-family: 'Courier New', Courier, monospace;
            font-size: 28px;
        }
    }
}
    
}